@model LojaWeb.Models.ViewModels.VendedorFormViewModel
@{
    
    ViewData["Title"]= "Detalhes";

}

 
<div class="row">
<div class="col-md-12">
    
<div class="container">
<div class="row">
    <div class="mt-4">
         <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
<div class="col-12">
<div class="card">
<div class="card-header text-center bg-dark text-white">
<div class="row align-items-center">
<div class="col-md-12">
<h5>Editar Vendedor</h5>
</div>
</div>
</div>
<div class="card mt-4">
<div class="card-header">Informações::
</div>
<div class="card-body">
<div class="row">
<form asp-controller="Vendedores" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Vendedor.Id"/>
    <div class="row">
    <div class="col">
    <label asp-for="Vendedor.Nome"></label>
    <input asp-for="Vendedor.Nome" class="form-control input-sm" />
    </div>
    <div class="col">
    <label asp-for="Vendedor.Email"></label>
    <input asp-for="Vendedor.Email" class="form-control input-sm" />
    </div>
    </div>
    <div class="row">
    <div class="col">
    <label asp-for="Vendedor.Nascimento"></label>
    <input asp-for="Vendedor.Nascimento" class="form-control input-sm" />
    </div>
    <div class="col">
    <label asp-for="Vendedor.Salario"></label>
    <input asp-for="Vendedor.Salario" class="form-control input-sm" />
    </div>
    <div class="col">
   <label asp-for="Vendedor.DepartamentoId" class="control-label"></label>
   <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos, "Id", "Nome" ))" class="form-control"></select>
    </div>
    </div>
    <div class="mt-4">
    <button type="submit" class="btn btn-primary">Salvar Edição</button>
    </div>
</form>
</div>
</div>