@model LojaWeb.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger"> Erro 404 Não Encontrado! </h1>
<h2 class="text-danger">Erro na solicitação </h2>
<h2 class="text-danger">Um erro ocorreu enquanto o servidor processava a sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Erro:</strong> <code>@Model.RequestId</code>
    </p>
     <p>
        <strong>Mensagem de erro:</strong> <code>@Model.Message</code>
    </p>
}


<h3>Aviso</h3>
<p>
    O sistema esta no modo  <strong>DESENVOLVIMENTO</strong> , é muito importante realizar as alterações nos arquivos antes de iniciar o processo de produção.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
